<div class="panel">
  <a href=""><h1><fa-icon [icon]="faDatabase" class="icon"></fa-icon>USBase</h1></a>
  <hr>
  <ul>
    <a href=""><li><fa-icon [icon]="faHome" class="icon"></fa-icon><h2> Inicio </h2></li></a>
    <a href=""><li><fa-icon [icon]="faGraduationcap" class="icon"></fa-icon><h2> Semestre </h2></li></a>
    <a href=""><li><fa-icon [icon]="faCalendar" class="icon"></fa-icon><h2> Calendario </h2></li></a>
    <a href=""><li><fa-icon [icon]="faPencil" class="icon"></fa-icon><h2> Examenes </h2></li></a>
    <a href=""><li><fa-icon [icon]="faTeacher" class="icon"></fa-icon><h2> Profesores </h2></li></a>
    <a href=""><li><fa-icon [icon]="faStatics" class="icon"></fa-icon><h2> Estadísticas </h2></li></a>
  </ul>
</div>
